<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27361311705-j3i25d3utlprn1s4mrrbettc3dj76qc9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27361311705-j3i25d3utlprn1s4mrrbettc3dj76qc9</string>
	<key>API_KEY</key>
	<string>AIzaSyBJleqTOrQe6-dcExFrCRjg2EQaQPOU7wE</string>
	<key>GCM_SENDER_ID</key>
	<string>27361311705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthCheck</string>
	<key>PROJECT_ID</key>
	<string>authcheck-dee76</string>
	<key>STORAGE_BUCKET</key>
	<string>authcheck-dee76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27361311705:ios:b10da2ff7a3fbaec2af7c8</string>
</dict>
</plist>